<!DOCTYPE html>
<html>
<head>
    <title>Message</title>
    <link rel="stylesheet" href="/static/dashboard/dashboard.css">
</head>

<body>
<div class="container card">

    <a class="button btn" href="{% url 'dashboard:message_inbox' %}">← Back to Inbox</a>

    <h2>Message from {{ message.name }}</h2>

    <p><strong>Email:</strong> {{ message.email }}</p>

    <div class="msg-box">
        {{ message.message }}
    </div>

    {% if message.reply %}
        <h3>Your Reply</h3>
        <div class="reply-box">
            {{ message.reply }}
        </div>
    {% endif %}

    <a class="button btn" href="{% url 'dashboard:message_reply' message.id %}">
        Reply
    </a>

</div>
</body>
</html>